{% extends "mobile/base.html" %}

{% block title_all %}安心买车 - 巴适二手车{% endblock %}

{% block base_css %}
<style type="text/css">
.co-6F200A{color: #6F200A;}
.co-6F200A{color: #6F200A;}
.co-F4683E{color: #F4683E;}
.co-6C6C6C{color: #6C6C6C;}
.co-AEAEAE{color: #AEAEAE;}
.co-1595FB{color: #1595FB;}

.bg1{
	background-image: url({{MEDIA_URL}}img/weixin/buy/pic4.png);
	background-size: cover;
  	background-repeat: no-repeat;
}
.bg2{
	background-color: #AFFCF4;
}
.bg3{background-color: #F4653A;}
</style>
{% endblock %}

{% block base_js %}
{% endblock %}

{% block base_container %}
<div class="row bg1">
	<div class="col-xs-12 pl-0">
		<div class="col-xs-4 pl-0 pr-0">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic1.png">
		</div>
	</div>
	<div class="col-xs-12 mt--5">
		<div class="col-xs-7 pl-0 pr-0">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic2.png">
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-10 pl-0 pr-0 pb-15 pt-10">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic3.png">
		</div>
	</div>
</div>
<div class="row pt-20 pb-20">
	<div class="col-xs-8 pl-5 pr-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic5.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5">车辆经过专业208项检测，保障品质</div>
	</div>
	<div class="col-xs-4 pt-5">
		<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic6.png">
	</div>
</div>
<div class="row pt-20 pb-20">
	<div class="col-xs-8 pl-5 pr-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic7.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5">依据评估报告定价，一切了如指掌</div>
	</div>
	<div class="col-xs-4 pt-5">
		<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic8.png">
	</div>
</div>
<div class="row pt-20 pb-20">
	<div class="col-xs-8 pl-5 pr-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic9.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5">一年售后确保二手车也无后顾之忧</div>
	</div>
	<div class="col-xs-4 pt-5">
		<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic10.png">
	</div>
</div>
<div class="row pt-20 pb-20">
	<div class="col-xs-8 pl-5 pr-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic11.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5">定制化寻车，让你足不出户找到爱车</div>
	</div>
	<div class="col-xs-4 pt-5">
		<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic12.png">
	</div>
</div>
<div class="row bg2 pt-50 pb-50 pr">
	<img class="pa" style="width: 20px; left: 10%; top: 30%;" src="{{MEDIA_URL}}img/weixin/buy/pic13.png">
	<img class="pa" style="width: 30px; left: 18%; top: 52%;" src="{{MEDIA_URL}}img/weixin/buy/pic13.png">
	<img class="pa" style="width: 20px; left: 70%; top: 18%;" src="{{MEDIA_URL}}img/weixin/buy/pic13.png">
	<img class="pa" style="width: 30px; left: 88%; top: 25%;" src="{{MEDIA_URL}}img/weixin/buy/pic13.png">
	<div class="col-xs-7 col-xs-offset-3">
		<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic14.png">
	</div>
</div>
<div class="row pr" style="margin-top: -37px;">
	<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic18.png">
</div>
<div class="row bg3 pt-20 pb-20">
	<div class="col-xs-6 col-xs-offset-3">
		<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic25.png">
	</div>
</div>
<div class="row pr">
	<img class="w" src="{{MEDIA_URL}}img/weixin/buy/pic27.png">
</div>
<div class="row pt-45 pb-20">
	<div class="col-xs-10 col-xs-offset-1 pl-25 pr-25">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic29.png">
	</div>
	<div class="col-xs-10 col-xs-offset-1 pl-25 pr-25 pt-30">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic30.png">
	</div>
	<div class="col-xs-12 text-center co-6C6C6C pt-45 pl-0 pr-0">
		<p>一群懂车爱车且有理想的年轻人，</p>
		<p>集结了一帮在二手车领域摸爬滚打数十载的牛人，</p>
		<p>他们是高级评估师，二手车交易师，高级维修师。 </p>
		<p>致力为你提供更美好的二手车交易环境,</p>
		<p>颠覆让人望而却步的传统交易方式。</p>
		<p>在巴适二手车平台上买车卖车，</p>
		<p>省心，舒心，安心，放心。</p>
	</div>
</div>
<div class="row pt-45 pb-30">
	<div class="col-xs-12 text-center co-1595FB f20 fb">
		www.84che.com
	</div>
</div>
<div class="row pt-45 pb-20">
	<div class="col-xs-12 text-center co-AEAEAE f12">
		Copyright &copy; {% if YEAR == "2015" %}{{YEAR}}{% else %}2015 - {{YEAR}}{% endif %} 84che.com. All Rights Reserved.
	</div>
</div>
{% endblock %}