{% extends "mobile/base.html" %}

{% block title_all %}省心卖车 - 巴适二手车{% endblock %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css" />
<style type="text/css">
.co-6F200A{color: #6F200A;}
.co-F4683E{color: #F4683E;}
.co-6C6C6C{color: #6C6C6C;}
.co-AEAEAE{color: #AEAEAE;}
.co-1595FB{color: #1595FB;}

.bg1{
	background-image: url({{MEDIA_URL}}img/weixin/sell/pic2.png);
	background-size: cover;
  	background-repeat: no-repeat;
}
.bg2{background-color: #F66430;}
.bg3{background-color: #67D265;}
.bg4{background-color: #20BDA6;}
.bg5{background-color: #F7C941;}
.bg6{background-color: #8DE3E5;}
.bg7{
	background-image: url({{MEDIA_URL}}img/weixin/sell/pic16.png);
	background-size: 100%;
  	background-repeat: no-repeat;
}
.bg8{background-color: #1A98FC;}
.bg9{
	background-image: url({{MEDIA_URL}}img/weixin/sell/pic27.png);
	background-size: 100%;
  	background-repeat: no-repeat;
  	height: 520px;
}

.delay-1{
	-webkit-animation-delay: 0.3s;
	   -moz-animation-delay: 0.3s;
	    -ms-animation-delay: 0.3s;
	     -o-animation-delay: 0.3s;
			animation-delay: 0.3s;
}
.delay-2{
	-webkit-animation-delay: 0.6s;
	   -moz-animation-delay: 0.6s;
	    -ms-animation-delay: 0.6s;
	     -o-animation-delay: 0.6s;
			animation-delay: 0.6s;
}
.delay-3{
	-webkit-animation-delay: 0.9s;
	   -moz-animation-delay: 0.9s;
	    -ms-animation-delay: 0.9s;
	     -o-animation-delay: 0.9s;
			animation-delay: 0.9s;
}
</style>
{% endblock %}

{% block base_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/backbone/underscore-min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).scroll(
        _.throttle(function(){

            var me = $(this),
            	windowHeight = me.height(),
            	scrollTop = me.scrollTop();

            if((windowHeight + scrollTop + 150) > $('.an1').offset().top && !$('.an1').hasClass('pulse')){
            	window.setTimeout(function(){
	            	$('.an1').addClass('pulse');
	            }, 150);
            }
            if((windowHeight + scrollTop + 150) > $('.an2').offset().top && !$('.an2').hasClass('flash')){
            	window.setTimeout(function(){
            		$('.an2').addClass('flash');
            	}, 800);
            }
            // if((windowHeight + scrollTop + 150) > $('.an3').offset().top && !$('.an3').hasClass('fadeInUp')){
            // 	window.setTimeout(function(){
            // 		$('.an3').addClass('fadeInUp');
            // 	}, 1500);
            // }

        }, 300)
    );

});
</script>
{% endblock %}

{% block base_container %}
<div class="row bg1">
	<div class="col-xs-12 pl-0">
		<div class="col-xs-4 pl-0 pr-0">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic1.png">
		</div>
	</div>
	<div class="col-xs-12 mt--5">
		<div class="col-xs-7 pl-0 pr-0">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic3.png">
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-10 pl-0 pr-0 pb-15 pt-10">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic4.png">
		</div>
	</div>
</div>
<div class="row bg2 pt-20 pb-20">
	<div class="col-xs-4 pt-5">
		<img class="w animated fadeInLeft" src="{{MEDIA_URL}}img/weixin/sell/pic5.png">
	</div>
	<div class="col-xs-8 pl-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic6.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5 co-6F200A">专业评估师208项检测，安全可靠</div>
	</div>
</div>
<div class="row bg3 pt-20 pb-20">
	<div class="col-xs-4 pt-5">
		<img class="w animated fadeInLeft delay-1" src="{{MEDIA_URL}}img/weixin/sell/pic7.png">
	</div>
	<div class="col-xs-8 pl-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic8.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5 co-6F200A">依据评估报告议价，高出市场10%</div>
	</div>
</div>
<div class="row bg4 pt-20 pb-20">
	<div class="col-xs-4 pt-5">
		<img class="w animated fadeInLeft delay-2" src="{{MEDIA_URL}}img/weixin/sell/pic9.png">
	</div>
	<div class="col-xs-8 pl-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic10.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5 co-6F200A">交易达成，现金收车，诚意满满</div>
	</div>
</div>
<div class="row bg5 pt-20 pb-20">
	<div class="col-xs-4 pt-5">
		<img class="w animated fadeInLeft delay-3" src="{{MEDIA_URL}}img/weixin/sell/pic11.png">
	</div>
	<div class="col-xs-8 pl-0">
		<div class="col-xs-6">
			<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic12.png">
		</div>
		<div class="col-xs-12 f12 pr-0 pt-5 co-6F200A">交易成功率高，节省时间</div>
	</div>
</div>
<div class="row bg6 pt-50 pb-50 pr">
	<img class="pa" style="width: 20px; left: 10%; top: 30%;" src="{{MEDIA_URL}}img/weixin/sell/pic13.png">
	<img class="pa" style="width: 30px; left: 18%; top: 52%;" src="{{MEDIA_URL}}img/weixin/sell/pic13.png">
	<img class="pa" style="width: 20px; left: 70%; top: 18%;" src="{{MEDIA_URL}}img/weixin/sell/pic13.png">
	<img class="pa" style="width: 30px; left: 88%; top: 25%;" src="{{MEDIA_URL}}img/weixin/sell/pic13.png">
	<img class="pa" style="width: 20%; left: 70%; top: 75%; z-index: 11;" src="{{MEDIA_URL}}img/weixin/sell/pic15.png">
	<div class="col-xs-7 col-xs-offset-3">
		<img class="w animated swing" src="{{MEDIA_URL}}img/weixin/sell/pic14.png">
	</div>
</div>
<div class="row pr bg7" style="margin-top: -20px; padding-bottom: 20px;">
	<div class="col-xs-10 col-xs-offset-1 pt-15">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic17.png">
	</div>
	<div class="col-xs-10 col-xs-offset-1 pt-15">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic18.png">
	</div>
	<div class="col-xs-10 col-xs-offset-1 pt-15">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic19.png">
	</div>
	<div class="col-xs-10 col-xs-offset-2 pt-15">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic20.png">
	</div>
</div>
<div class="row bg8 pt-20 pb-20">
	<div class="col-xs-6 col-xs-offset-3">
		<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic26.png">
	</div>
</div>
<div class="row pt-20 pb-20">
	<img class="w" src="{{MEDIA_URL}}img/weixin/sell/pic27.png">
</div>
<div class="row pt-45 pb-20">
	<div class="col-xs-10 col-xs-offset-1 pl-25 pr-25">
		<img class="w animated an1" src="{{MEDIA_URL}}img/weixin/sell/pic29.png">
	</div>
	<div class="col-xs-10 col-xs-offset-1 pl-25 pr-25 pt-30">
		<img class="w animated an2" src="{{MEDIA_URL}}img/weixin/sell/pic30.png">
	</div>
	<div class="col-xs-12 text-center co-6C6C6C pt-45 pl-0 pr-0 animated an3">
		<p>一群懂车爱车且有理想的年轻人，</p>
		<p>集结了一帮在二手车领域摸爬滚打数十载的牛人，</p>
		<p>他们是高级评估师，二手车交易师，高级维修师。 </p>
		<p>致力为你提供更美好的二手车交易环境,</p>
		<p>颠覆让人望而却步的传统交易方式。</p>
		<p>在巴适二手车平台上买车卖车，</p>
		<p>省心，舒心，安心，放心。</p>
	</div>
</div>
<div class="row pt-45 pb-30">
	<div class="col-xs-12 text-center co-1595FB f20 fb">
		www.84che.com
	</div>
</div>
<div class="row pt-45 pb-20">
	<div class="col-xs-12 text-center co-AEAEAE f12">
		Copyright &copy; {% if YEAR == "2015" %}{{YEAR}}{% else %}2015 - {{YEAR}}{% endif %} 84che.com. All Rights Reserved.
	</div>
</div>
{% endblock %}















