{% extends "pc/base/base_home.html" %}

{% block title_all %}巴适二手车{% endblock %}
{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/dropkick/css/dropkick.css" />
<style type="text/css">
.bg{
    width: 100%;
    height: 100vh;
    position: relative;
    /*min-height: 600px;*/
}

.bg-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.evaluate－form{
    width: 400px; 
    height: 350px; 
    z-index: 100;
    position: relative;
    color: #222;
    padding: 30px 40px;
}
.evaluate－cover{
    position: absolute;
    z-index: 99;
    left: 60px;
    top: 0;
    width: 400px; 
    height: 350px; 
    background-color: #ffffff; 
    opacity: 0.5; 
    border-radius: 4px;
    border: solid 1px #ddd;
    /*box-shadow: 0px 0px 10px #ffffff;*/
}

.dropkick-sel{
    /*color: #bbb;*/
    font-size: 13px;
}

.dk-select, .dk-select-multi{
    width: 100%;
}

.list-group-item:first-child{
    border-top: 0;
}
.list-group-item{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.scroll-list{
    overflow: hidden;
    height: 200px;
}
</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/dropkick/dropkick.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

    var count = 0;

    window.setInterval(function(){
        $('.bg-img').eq(count).animate({'opacity': 0}, 500);

        count = (count >= 3) ? -1 : count;
        count += 1;

        $('.bg-img').eq(count).animate({'opacity': 1}, 500);

    }, 5000);
    

    $('.dropkick-sel').dropkick();

    // 无限滚动
    window.setInterval(function(){
        var target = $('.scroll-list'),
            scrollTop = target.children().eq(0).outerHeight();

        target
        .animate({'scrollTop': scrollTop}, 1000, 'easeInOutQuad', function(){
            target.append(target.children().eq(0));
            target.scrollTop(0);
        })
    }, 2000);

    // 估价
    $('.btn-evaluate').bind('click', function(e){
        e.preventDefault();
        $('.evaluate-result').prev().addClass('none');
        $('.evaluate-result').removeClass('none');
        // $('body').scrollTop(5000);
        $('body').animate({'scrollTop': 600}, 500);
    });
});

</script>
{% endblock %}

{% block base_container %}

<div class="container-fluid pl-0 pr-0" style="">
    <div class="bg">
        <img class="bg-img" style="opacity: 1;" src="{{MEDIA_URL}}img/banner1.jpg">
        <img class="bg-img" src="{{MEDIA_URL}}img/banner2.jpg">
        <img class="bg-img" src="{{MEDIA_URL}}img/banner3.jpg">
        <img class="bg-img" src="{{MEDIA_URL}}img/banner4.jpg">
    </div>
</div>

<div class="container-fluid pl-0 pr-0 pa" style="left: 0; top: 20%; width: 100%;">
    <div class="container pr-50 pl-60 pr">
        <div class="evaluate－cover"></div>
        <div class="evaluate－form">
            <div class="f20">二手车估价</div>
            <div class="pt-20 co-777777">
                选择车型
            </div>
            <div class="pt-5 row">
                <div class="col-md-6">
                    <select class="dropkick-sel">
                        <option value="0">请选择品牌</option>
                        <option value="1">奔驰</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="dropkick-sel">
                        <option value="0">请选择车型</option>
                        <option value="1">奔驰S级</option>
                    </select>
                </div>
            </div>
            <div class="pt-15">
                <select class="dropkick-sel">
                    <option value="0">请选择车款</option>
                    <option value="1">600L</option>
                </select>
            </div>
            <div class="pt-15 co-777777">
                上牌时间
            </div>
            <div class="pt-5 row">
                <div class="col-md-6">
                    <select class="dropkick-sel">
                        <option value="0">请选择上牌年份</option>
                        <option value="1">2015 年</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="dropkick-sel">
                        <option value="0">请选择上牌月份</option>
                        <option value="12">12 月</option>
                        <option value="11">11 月</option>
                    </select>
                </div>
            </div>
            <div class="pt-15 co-777777">
                行驶里程
            </div>
            <div class="pt-5 row">
                <div class="col-md-6 pr">
                    <input id="distance" class="form-control input-sm" type="text" style="font-size: 13px; border-radius:0;" />
                    <label for="distance" class="pa" style="color: #777; right: 20px; top: 7px; font-size: 13px; font-weight: normal;">万公里</label>
                </div>
                <div class="col-md-6">
                    <a href="#" style="border-radius:0;" class="btn btn-sm btn-primary btn-block f13 btn-evaluate">开  始  估  价</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pr-50 pl-60 pb-20 pt-50">
    <div class="row">
        <div class="col-md-4">
            <div class="f20">第三方估值平台</div>
            <div class="co-bbbbbb">公正透明独立第三方评估服务平台</div>
        </div>
        <div class="col-md-4">
            <div class="f20">先进估价模型</div>
            <div class="co-bbbbbb">采用业内先进二手车评估车辆保值率模型</div>
        </div>
        <div class="col-md-4">
            <div class="f20">海量车源数据</div>
            <div class="co-bbbbbb">每日追踪分析全网二手车海量交易价格</div>
        </div>
    </div>
</div>

<div class="container pr-50 pl-60 pb-20">
    <div class="pr-50 pl-50 row">
        <div class="col-md-7">
            <div class="pt-50 f16 pb-5" style="border-bottom: 1px solid #ddd;">
                <span>评估车源总量:<span class="co-66afe9 pl-10">5897万辆</span></span>
                <span class="pl-15">估价准确率:<span class="co-66afe9 pl-10">95.7%</span></span>
            </div>
            <div class="mt-15 f14 co-bbbbbb scroll-list">
                <div class="pb-5">长安之星S460爱车估价 1.51万</div>
                <div class="pb-5">朗逸爱车估价 10.53万</div>
                <div class="pb-5">比亚迪F3爱车估价 5.40万</div>
                <div class="pb-5">奥迪A6L2014款奥迪A6LTFSI舒适型估价 30.08万</div>
                <div class="pb-5">宝马1系2013款125i运动型估价 28.8万</div>
                <div class="pb-5">保时捷911 2014款Turbo估价 131.2万</div>
                <div class="pb-5">比亚迪F3 2014款1.5L自动尊贵估价 131.2万</div>
                <div class="pb-5">长城精灵2009款CROSS1.3L豪华估价 131.2万</div>
                <div class="pb-5">长安之星S460爱车估价 1.51万</div>
                <div class="pb-5">朗逸爱车估价 10.53万</div>
                <div class="pb-5">长安之星S460爱车估价 1.51万</div>
                <div class="pb-5">朗逸爱车估价 10.53万</div>
                <div class="pb-5">比亚迪F3爱车估价 5.40万</div>
                <div class="pb-5">奥迪A6L2014款奥迪A6LTFSI舒适型估价 30.08万</div>
                <div class="pb-5">宝马1系2013款125i运动型估价 28.8万</div>
                <div class="pb-5">保时捷911 2014款Turbo估价 131.2万</div>
                <div class="pb-5">比亚迪F3 2014款1.5L自动尊贵估价 131.2万</div>
                <div class="pb-5">长城精灵2009款CROSS1.3L豪华估价 131.2万</div>
                <div class="pb-5">长安之星S460爱车估价 1.51万</div>
                <div class="pb-5">朗逸爱车估价 10.53万</div>
            </div>
        </div>

        <div class="col-md-7 none evaluate-result">
            <div class="pt-50 f16 pb-5" style="border-bottom: 1px solid #ddd;">评估结果:</div>
            <div class="pt-15 f20">
                您的
                <span class="pl-5 pr-5">奔驰S级</span>
                <span class="pl-5 pr-5">600L</span>
                评估价为:
                <span class="co-66afe9 pl-5 pr-5"><i class="fa fa-rmb"></i>32.10万</span>
            </div>
            <div class="f14 pt-5 pb-20 co-bbbbbb">
                <span>2014年 05月上牌，2.34万公里，新车指导价 <i class="fa fa-rmb"></i>49.9万</span>
            </div>
            <div class="pt-5 pb-20">
                <a class="btn btn-primary" href="#">高 价 卖 车</a>
            </div>
            <div class="pt-20 pb-50">
                <a class="" href="/">我要评估其他车>></a>
            </div>
        </div>

        <div class="col-md-5 pl-60 pr-0">
            <ul class="pt-50 list-group">
                <li class="list-group-item">
                    <div class="pl-70 pr">
                        <img class="pa" style="left: 0; top: 0;" src="http://assets.souche.com/assets/images/judge/car-god.png?t=2">
                        <a class="pa f13" style="top: 5px; right: 0;" href="#"><i class="fa fa-qq"></i>咨询车神</a>
                        <div class="f16 pt-5">王撕葱</div>
                        <div class="pt-5 co-bbbbbb">真实体验说话/态度鲜明/犀利、爱挑刺</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="pl-70 pr">
                        <img class="pa" style="left: 0; top: 0;" src="http://assets.souche.com/assets/images/judge/car-god2.png?t=2">
                        <a class="pa f13" style="top: 5px; right: 0;" href="#"><i class="fa fa-qq"></i>咨询车神</a>
                        <div class="f16 pt-5">聪哥</div>
                        <div class="pt-5 co-bbbbbb">评估大师/真实体验说话/态度鲜明</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="pl-70 pr">
                        <img class="pa f13" style="left: 0; top: 0;" src="http://assets.souche.com/assets/images/judge/car-god3.png?t=2">
                        <a class="pa" style="top: 5px; right: 0;" href="#"><i class="fa fa-qq"></i>咨询车神</a>
                        <div class="f16 pt-5">暮雨</div>
                        <div class="pt-5 co-bbbbbb">真实体验说话/专业性能测评/态度鲜明</div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
</div>
{% endblock %}

